.checkbox.done label {
    text-decoration: line-through;
    color: #888;
}

.checkbox input[type="checkbox"] {
    margin-left: 0px;
}

::-webkit-scrollbar {
display: none;
}

#todoDescription {
    resize: vertical;
}

#tag p {
    padding-left: 5px;
}

html {
    height: 100%;
}

body {
    background: url("../img/ozadje.png") fixed no-repeat 98% 95% #111111;
    position: relative;
    height: 100%;                                                   
}

header {
    background: #2980b9;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 70px;
    padding-right: 20px;
    float: right;
}

.logo span {
    color: #333333;
}

nav {
    background: #222222;
    position: fixed;
    top: 120px;
    float: left;
    height: 100%;
    width: 200px;
    border-right: 1px solid #333333;
    /*transition: width 0.5s;*/
    overflow-y: scroll;
    height: calc(100% - 170px);
}

.top-bar {
    position: fixed;
    top: 70px;
    height: 50px;
    width: 200px;
    float: left;
}

.bottom-bar {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 200px;
    float: left;
}

.new-bar {
    height: 50px;
    background: #111111;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}

.bottom-bar {
    border-bottom: none;
    border-top: 1px solid #333333;
}

.new-button {
    height: 100%;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 49px;
    float: left;
}

.new-button:hover {
    color: #2980b9;
}

.slider-new {
    width: 100%;
    background: #2980b9;
    height: 0px;
    transition: height 1s linear;
    overflow: hidden;
}

.slider-new.open {
    height: 445px;
}

.main-menu {
    border-bottom: 1px solid #333333;
}

.prio-menu {
    border-bottom: none;
}

.menu i {
    padding: 0 15px;
    width: 50px;
    font-size: 1.5em;
    float: left;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    color: white;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    clear: both;
}

.menu:hover {
    background: #111111;
}

.menu-high {
    color: #e74c3c;
}

.menu-medium {
    color: #e67e22;
}

.menu-low {
    color: #f1c40f;
}

.menu.current {
    background: #111111;
    border-left: 3px solid #2980b9;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.menu.current i {
    margin-left: -3px;
}

.menu.current-priority {
    background: #111111;
    border-left: 3px solid #2980b9;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.menu.current-priority i {
    margin-left: -3px;
}

.menu.current-tag {
    background: #111111;
    border-left: 3px solid #2980b9;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.menu.current-tag i {
    margin-left: -3px;
}

.todo-picture i {
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    color: #222222;
    font-size: 300px;
}

#bolt {
    padding-left: 20px;
}

.fa-shopping-cart {
    position: relative;
    left: -3px;
}

/* CONTENT */
#content {
    position: relative;
    top: 120px;
    left: 200px;
    width: calc(100% - 200px);
}

/* MODAL */
.modal-content {
    background: #333333;
    color: white;
}

/* CALENDAR */
.calendar {
    height: 50px;
    background: #111111;
    border-bottom: 1px solid #333333;
    color: white;
    float: left;
    position: fixed;
    top: 70px;
    width: calc(100% - 200px);
    z-index: 1000;
}

.day {
    height: 50px;
    border-right: 1px solid #333333;
    padding-left: 5px;
}

.upper-line {
    color: #555555;
    font-weight: 300;
}

/* TASKS */
.main-content {
    padding: 70px;
}

.column {
    padding: 0px;
}

.task {
    background: #333333;
    min-height: 100px;
    width: calc(100% - 10px);
    margin: 5px auto 0 auto;
    padding: 10px;
    color: white;
    position: relative;
}

input[type="checkbox"] + label {
    padding-left: 15px;
}

input[type="checkbox"] + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid white;
    position: absolute;
    left: 0px;
}

input[type="checkbox"]:checked + label:after {
    background: url("../img/check_mark.svg");
    position: absolute;
    left: 2px;
    top: 2px;
    content: "";
    width: 16px;
    height: 16px;
}

.task-date {
    padding-left: 15px;
    color: #555555;
}

.task-tags {
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
    display: flex;
}

.task-tag {
    width: 15px;
    height: 100px;
    display: inline-block;
}

.task-tag span {
    transform: rotate(-90deg);
    line-height: 15px;
    font-size: 10px;
    color: black;
    display: block;
    position: relative;
    bottom: -80px;
    text-transform: capitalize;
}

.task-tag-shopping {
    background: #8e44ad;
}

.task-tag-personal {
    background: #2980b9;
}

.task-tag-work {
    background: #2ecc71;
}

.choose {
    color: black;
}

.delete-task {
    position: absolute;
    bottom: 5px;
    left: 9px;
    color: #c0392b;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.trash-delete,
.trash-delete:hover {
    color: #c0392b;
}

.new-task {
    background: #333333;
    border-bottom: 2px solid white;
    padding-left: 5px;
}

.new-task:hover {
    background: #333333;
    cursor: default;
}
.input-ele {
    margin-top: 5px;
}

.input-ele label {
    color: white;
}